<div id="twtl" *ngIf='showTw'>
  <ng4-twitter-timeline  [dataSrc]="{sourceType: 'profile', screenName: selectedTwitter}"
                         [opts]="{
                                  height: '600',
                                  theme: 'dark',
                                  linkColor: '##98d9ef',
                                  chrome: 'noheader nofooter noborders transparent noscrollbar',
                                  ariaPolite: 'assertive'
                                  }">
  </ng4-twitter-timeline>
</div>
