<header class="pager">
  <div class="pager-body">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <h4><span class="brand-font">World Dota2 teams rating</span></h4>
          <!-- Table -->
          <!--<div *ngIf="!router.url.includes('map') || screenSize > 700" class="table-responsive scrollingTable">-->
          <div class="table-responsive scrollingTable">
            <table class="table" id='myTable'>
              <thead>
              <tr>
                <th class="col-xs-2">#</th>
                <th class="col-xs-2"></th>
                <th class="col-xs-8">Team Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let team of teams" routerLinkActive='active' [routerLink]="['map', team.id]" style='cursor: pointer'>
                <td>{{ team.ranking }}</td>
                <td><img
                  [src]="team.imgPath"
                  alt="{{ team.title }}"></td>
                <td ><a>
                  {{ team.title }}
                </a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mobFinger"><i class="fa fa-gg-circle"></i></div>
        <div class="col-md-6">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</header>
