<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CyberGates is a major gaming hub for new and pro players and teams">
  <meta name="author" content="">
  <meta property="og:url"           content="http://www.cybergates.gg" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Cyber Gates" />
  <meta property="og:description"   content="Major Gaming Hub" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  <base href="/">

  <title>Cyber Gates</title>
  <link rel="shortcut icon" href="./favicon.ico" type="image/png">

  <!-- Bootstrap Core CSS -->
  <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="./assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="./assets/css/grayscale.css" rel="stylesheet">

  <!--&lt;!&ndash; FireBase &ndash;&gt;-->
  <!--<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>-->

  <!-- Google Tag Manager -->
  <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MKRD2LT');</script>
  <!-- End Google Tag Manager -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKRD2LT"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--&lt;!&ndash; Navigation &ndash;&gt;-->
  <!--<nav class="navbar navbar-custom navbar-fixed-top">-->
    <!--<div class="container">-->
      <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">-->
          <!--Menu <i class="fa fa-bars"></i>-->
        <!--</button>-->
        <!--<a *ngIf="url === '/'" class="navbar-brand page-scroll" href="#page-top">-->
          <!--<span><img src="./assets/img/vc_logo.png" height="45" width="45" alt="CyberGates MOBA gaming hub"></span><span class="light brand-logo">CyberGates</span>-->
        <!--</a>-->
        <!--&lt;!&ndash;<a *ngIf="url != '/'" class="navbar-brand page-scroll" href="./">&ndash;&gt;-->
          <!--&lt;!&ndash;<span><img src="./assets/img/vc_logo.png" height="45" width="45" alt="CyberGates MOBA gaming hub"></span><span class="light brand-logo">CyberGates</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--</div>-->

      <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
      <!--<div class="collapse navbar-collapse navbar-right navbar-main-collapse">-->
        <!--<ul class="nav navbar-nav">-->
          <!--&lt;!&ndash; Hidden li included to remove active class from about link when scrolled up past about section &ndash;&gt;-->
          <!--<li class="hidden">-->
            <!--<a href="#page-top"></a>-->
          <!--</li>-->
          <!--<li *ngIf="url === '/'">-->
            <!--<a href="./ti07">TI07</a>-->
          <!--</li>-->
          <!--<li *ngIf="url === '/'">-->
            <!--<a class="page-scroll" href="#about">About</a>-->
          <!--</li>-->
          <!--<li *ngIf="url === '/'">-->
            <!--<a class="page-scroll" href="#download">Invitation</a>-->
          <!--</li>-->
          <!--<li *ngIf="url === '/'">-->
            <!--<a class="page-scroll" href="#contact">Contact</a>-->
          <!--</li>-->
          <!--<li *ngIf="url === '/matches'">-->
            <!--<a href="./ti07">Groups</a>-->
          <!--</li>-->
          <!--<li *ngIf="url === '/ti07'">-->
            <!--<a href="./matches">Matches</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
  <!--</nav>-->
  <app-root>...Loading</app-root>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; CyberGates 2017</p>
    </div>
  </footer>

<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script defer src="./assets/vendor/jquery/jquery.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script defer src="./assets/vendor/bootstrap/js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

<!--&lt;!&ndash; JavaScript &ndash;&gt;-->
<!--<script defer src="./assets/js/grayscale.min.js"></script>-->

</body>
