<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10">
          <h1 class="brand-heading">Your major gaming hub</h1>
          <p class="intro-text">Let's build your own gaming experience<br> together with friends and e-sports community</p>
          <div class="input-group col-md-6 col-xs-6">
            <div *ngIf='submitted' id='submitted'><span>Awesome, you're on the list and we'll be in touch soon!</span><br>
              <img src="../../assets/img/community_img.gif" alt="HTML5 Icon" style="height:100px;">
            </div>
            <div [@myAwesomeAnimation]='state'>
              <form *ngIf='!submitted' [formGroup]='subscribeForm' (ngSubmit)='onSubmit(subscribeForm.value)'>
                <em class="form-control" id="form-label">Join our beta list, launching soon.</em>
                <label class="sr-only" for="name">Name</label>
                <input type="name" formControlName='name' id="name" name="name" placeholder="Name" class="form-control">
                <span class="form-control"
                  *ngIf="!subscribeForm.get('name').valid && subscribeForm.get('name').touched"
                  style='background-color: orangered; opacity: 0.8; color: yellow'><i class="fa fa-warning"></i> we will appreciate if you type your name here</span>
                <label class="sr-only" for="email">Email</label>
                <input type="email" formControlName='email' id="email" name="email" placeholder="Email" class="form-control">
                <span class="form-control"
                  *ngIf="!subscribeForm.get('email').valid && subscribeForm.get('email').touched"
                  style='background-color: orangered; opacity: 0.8; color: yellow'><i class="fa fa-warning"></i> please, provide your valid email</span>
                <textarea id="message" formControlName='message' name="message" placeholder="What you hope to find here?" class="form-control"></textarea>
                <span class="form-control"
                      *ngIf="submit && !subscribeForm.get('email').touched && !subscribeForm.get('name').touched"
                      style='background-color: orangered; opacity: 0.8; color: yellow'><i class="fa fa-warning"></i> please, provide valid info</span>
                <button type="submit" id="btn-starter" class="form-control">SEND</button>
              </form>
            </div>
          </div>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center affix-top">
  <div class="col-lg-12">
    <h2 class="page-header">Looking for something special?</h2>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="hovereffect">
      <div class="img-div img1"></div>
      <div class="overlay">
        <h3><a>Team crafting</a></h3>
        <p>
          We designed to be outstanding in making gaming connections
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="hovereffect">
      <div class="img-div img2"></div>
      <div class="overlay">
        <h3><a>Pro team fan pages</a></h3>
        <p>
          Find and follow your favorite players and teams
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="hovereffect">
      <div class="img-div img3"></div>
      <div class="overlay">
        <h3><a>"How to" gaming wiki</a></h3>
        <p>
          Find all info you need: search, create, store & share guides and articles
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="hovereffect">
      <div class="img-div img4"></div>
      <div class="overlay">
        <h3><a>E-sports events</a></h3>
        <p>
          Be aware of Dota 2, CS, LoL tournaments, matches, activities and many more
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="hovereffect">
      <div class="img-div img5"></div>
      <div class="overlay">
        <h3><a>Battle and earn money</a></h3>
        <p>
          Take part in sponsored & custom tournaments with different prize pool
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
    <div class="hovereffect">
      <div class="img-div img6"></div>
      <div class="overlay">
        <h3><a>Track your progress</a></h3>
        <p>
          Learn more to become better and track your progress with custom made stats
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>You are playing <span class="light brand-logo">CS, Dota 2, LoL</span> or maybe you are a true fan of <span class="light brand-logo">Blizzard</span> games?</h2>
        <div class='linked'>
          <button
            routerLink="/teams/dota2/rankings"
            class="btn btn-color btn-invite"
          >Enjoy Dota2 for now:)</button>
        </div>


        <!--<form id="form" class="form-email" action="" method="post" data-position="main">-->
          <!--<div class="row earlyaccess-box">-->
            <!--<div class="input-group col-md-6 col-xs-6">-->
              <!--<input type="name" name="name" value="ANY" style="display:none">-->
              <!--<input type="message" name="message" value="N/A" style="display:none">-->
              <!--<input type="email" id="email" name="email" placeholder="Enter your email" class="form-control" required>-->
              <!--<span class="input-group-btn">-->
                                        <!--<button class="btn btn-color btn-invite" type="submit">Get In Touch</button>-->
                                    <!--</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div id="c-pic-cover"></div>
    <div id="c-pic"></div>
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact <span class="light brand-logo">CyberGates</span> in any case</h2>
      <p>Feel free to email us and provide some feedback, give us suggestions for what you lack in your gaming lifestyle, or to just say hello!</p>
      <p><a href="mailto:feedback@cybergates.gg">team@cybergates.gg</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <!-- <ul class="list-inline banner-social-buttons">
          <li>
              <a href="https://www.facebook.com/groups/397248613959168" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
              <a href="https://twitter.com/cybergates_gg" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
              <a href="https://vk.com/cybergates" class="btn btn-default btn-lg"><i class="fa fa-vk fa-fw"></i> <span class="network-name">VK</span></a>
          </li>
          <li>
              <a href="https://www.youtube.com/channel/UCOUiXU7jp_0FJmmCmUSPEmw" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
          </li>
      </ul>  -->
    </div>
    <div class="col-lg-5">
      <app-twitter></app-twitter>
    </div>
  </div>
</section>
